<ul class="menu-category">
    <li>
        @Html.ActionLink("Super Category", "Index", "SuperCategories")
    </li>
    <li>
        @Html.ActionLink("Super Category", "Index", "Categories")
    </li>
    <li>
        @Html.ActionLink("SubCategory", "Index", "subCategories")
    <li>
        @Html.ActionLink("MappingCategory", "Index", "SuperCategoryMappingCategories")
    </li>
    <li>
        @Html.ActionLink("Product", "Index", "Products")
    </li>
</ul>
