@model IEnumerable<PriceComparisonWeb.Models.EcommercePriceFile>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product_name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.Manufacturer_Part_NumberMPN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EAN)
            </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Product_URL)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Image_URL)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Price_incl_VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shipping_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bundle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.Manufacturer_Part_NumberMPN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EAN)
            </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Product_URL)
            </td>*@
            <td>

                <img src="@Html.DisplayFor(modelItem => item.Image_URL)" width="200" height="200">
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Price_incl_VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bundle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Colour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>*@
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
